*~
*.swp
*.swo
*~
\#*

dist-newstyle
.ghc.environment.*
cabal.project.local*
cabal.project.local~
cabal.project.srcs
dist/

stack.yaml.local.lock
stack.yaml.local
.stack-to-nix.cache
.stack-work/
stack.yaml.lock

haddocks/
db/
logs/
/ouroboros-network
/cardano-base
configuration/genesis
